/* picture with attributes section */
.pic-with-attributes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.mugshot img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 60px;
}
.attributes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.attributes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.attributes-heading {
    text-align: center;
}
.attributes img {
    width: 120px;
}
.animation-home-icons{
    animation: animation-home-icons 0.8s both;
}
@keyframes animation-home-icons {
    0%,
    100% {
              transform: translateX(0%);
              transform-origin: 50% 50%;
    }
    15% {
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
              transform: translateX(15px) rotate(6deg);
    }
    45% {
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  